@charset "UTF-8";

label.col-1 {
	display:inline-block;
	width:162px;
}

label.col-2 {
	display:inline-block;
	width:150px;
}

label.col-3 {
	display:inline-block;
	width:50px;
	padding-left:20px;
	text-align:center;
}

input[type="number"] {
	width:60px;
}

button.outputButton {
	margin-left:50px;
}

table {
	border:1px #000000 solid;
	border-collapse: collapse;
	width:100%;
}

th,td {
	font-size:12px;
	text-align: center;
}

th {
	border:1px #000000 solid;
}

td {
	border:1px #808080 solid;
	padding:3px 5px;
}

tbody tr:nth-child(2n) {
	background: #FFFFCC;
}

td:nth-child(11) {
	text-align:left;
	width:150px;
}
td:nth-child(13) {
	text-align:left;
	width:300px;
}