@charset "UTF-8";

h1 {
    padding: 0 10px;
    margin-bottom:10px;
    border: none;
    background-image: linear-gradient(90deg, #F09,#FFF);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: bottom left;
    color: #000; text-shadow: none;
}

div.label_wrapper label {

}

label.col-1 {
	display:inline-block;
	width:162px;
}

label.col-2 {
	display:inline-block;
	width:150px;
}

label.col-3 {
	display:inline-block;
	width:50px;
	padding-left:20px;
	text-align:center;
}

input[type="number"] {
	width:60px;
}

div.button_wrapper {
	width:100%;
	position:relative;
	display:inline-flex;
}
div.button_wrapper h3 {
	margin-left:5px;
	margin-right:30px;
}

button.submitButton {
	height:30px;
	width:60px;
	margin-top:10px;
	margin-left:5px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #005FFF;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #0000FF;/*線色*/
}

button.sortButton {
	height:30px;
	width:100px;
	margin-top:18px;
	margin-left:10px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #005FFF;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #0000FF;/*線色*/
}

button.outputButton{
	position:absolute;
	right:20px;
	height:30px;
	width:110px;
	margin-top:18px;
	margin-left:80px;
    display: inline-block;
    padding: 4px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00;/*線色*/
}

table {
	border:2px #000000 solid;
	border-collapse: collapse;
	width:100%;
}

th,td {
	font-size:12px;
	text-align: center;
}

th {
	background-color:black;
	font-weight: bold;
	color:white;
	border-right:1px #FFFFFF solid;
}
th:last-child{
	border-right:1px #000000 solid;
}

td {
	border:1px #808080 solid;
	padding:3px 5px;
}

tbody tr:nth-child(2n) {
	background: #FFFFCC;
}

td:nth-child(11) {
	text-align:left;
	width:150px;
}
td:nth-child(13) {
	text-align:left;
	width:300px;
}