<!DOCTYPE html>
<html lang="ja" ng-app="mmApp">
<head>
	<title>SW2.5魔法管理アプリ</title>
	<script src="angular-1.7.2/angular.js"></script>
	<script src="angular-1.7.2/angular-resource.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body class="container">
	<div ng-controller="AppController">
		<h1>SW2.5魔法管理アプリ</h1>
		<div>
			<form ng-submit="submit()">
				<div class="userInfomation">
					<div>
						<label>キャラ名</label>
						<input type="text" class="formControl" id="charaName" ng-model="charaName" placeholder="キャラ名を入力">
					</div>
					<div>
						<label">取得技能</label>
						<div ng-repeat="skill in skills">
							<input type="checkbox" ng-model="skill.checked">{{skill.name}}
							<input ng-disabled="isChecked({{skill.id}})" type="number" max=15 min=1 ng-model="skill.level">
						</div>
						<div ng-show="isPriest">
							<select>
								<option ng-repeat="god in gods" value="god.id">{{god.name}}</option>
							</select>
						</div>
						<div ng-show="isFairyTamer">
							<div ng-repeat="element in fairyTamerElements">
								<lavel>{{element.name}}</lavel>
								<input type="number" max=15 min=0 ng-model="element.level">
							</div>
						</div>
					</div>
					<div>
					</div>
				</div>
				<div>
					<button type="submit" class="btn">出力</button>
				</div>
			</form>
		</div>
		<div>
			<h3>使用可能魔法一覧</h3>
			<table>
				<tr>
					<th></th>
				</tr>
				<tr ng-repeat="magic in magics">
					<td>{{magic.name}}</td>
				</tr>
			</table>
		</div>
	</div>
</body>