<!DOCTYPE html>
<html lang="ja" ng-app="mmApp">
<head>
	<title>SW2.5魔法管理アプリ</title>
	<script src="angular-1.7.2/angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body class="container">
	<div ng-controller="AppController">
		<h1>SW2.5魔法管理アプリ</h1>
		<div>
			<form ng-submit="submit()">
				<div class="userInfomation">
					<div>
						<label>キャラ名</label>
						<input type="text" class="formControl" id="charaName" ng-model="charaName" placeholder="キャラ名を入力">
					</div>
					<div>
						<label ng-click="isPriest()">取得技能</label>
						<div>
							<input type="checkbox" name="skills[]" value="sorcerer">ソーサラー
							<input type="number" name="sorcererLevel">
						</div>
						<div>
							<input type="checkbox" name="skills[]" value="conjurer">コンジャラー
							<input type="number" name="conjurerLevel">
						</div>
						<div>
							<input type="checkbox" name="skills[]" value="priest" ng-click="isPriest()">プリースト
							<input type="number" name="priestLevel">
						</div>
						<div>
							<input type="checkbox" name="skills[]" value="fairytamer" ng-click="isFairyTamer()">フェアリーテイマー
							<input type="number" name="fairytamerLevel">
						</div>
					</div>
					<div>
						
					</div>
				</div>
				<div>
					<button type="submit" class="btn">出力</button>
				</div>
			</form>
		</div>
		<div>
			<h3>使用可能魔法一覧</h3>
			<table>
				<tr>
					<th></th>
				</tr>
				<tr ng-repeat="magic in magics">
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</body>