<!DOCTYPE html>
<html lang="ja" ng-app="mmApp">
<head>
	<title>SW2.5管理</title>
	<link href="css/style.css" rel="stylesheet">
	<script src="lib/angular-1.7.2/angular.js"></script>
	<script src="lib/angular-1.7.2/angular-resource.js"></script>
	<script src="lib/lodash/lodash.min.js"></script>
	<script src="lib/xlsx.full.min.js"></script>
	<script src="lib/FileSaver.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body class="container">
	<div ng-controller="AppController">
		<h1>SW2.5管理</h1>
		<div>
			<form ng-submit="submit()">
				<div class="charaInfomation">
					<div>
						<label class="col-1">取得技能</label>
						<label>技能レベル</label>
						<div class="skillInput" ng-repeat="skill in skills">
							<input type="checkbox" ng-model="skill.checked"><label class="col-2">{{skill.name}}</label>
							<input ng-disabled="isChecked({{skill.id}})" type="number" max=15 min=1 ng-init="skill.level=1" ng-model="skill.level">
						</div>
						<div ng-show="isPriest">
							<label>信仰する神</label>
							<select ng-model="selectedGod" ng-options="god.name for god in gods"></select>
						</div>
						<div ng-show="isFairyTamer">
							<div ng-repeat="element in fairyTamerElements | filter:ftFilter">
								<label class="col-3">{{element.name}}</label>
								<input type="number" max={{element.max}} min=0 ng-init="element.level=0" ng-model="element.level" ng-keyup="changeMax()" ng-mouseup="changeMax()">
							</div>
						</div>
					</div>
				</div>
				<div>
					<button type="submit" class="btn">表示</button>
				</div>
			</form>
		</div>
		<div ng-show="submitFlg">
			<div>
				<h3>取得魔法一覧</h3>
				<button ng-click="sortMagic(0)">ソート(系統)</button>
				<button ng-click="sortMagic(1)">ソート(種別)</button>
				<button class="outputButton" ng-click="outputExcel()">Excel出力</button>
				<!-- CSV出力は不要では？
				<button>
					<a id="download" href="#" download="magics.csv" ng-click="outputCSV()">CSV出力</a>
				</button>
				-->
			</div>
			<table class="table-to-export" data-sheet-name="取得魔法一覧">
				<thead>
					<tr>
						<th ng-repeat="header in headerList">{{header.displayName}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="magic in magics">
						<td ng-repeat="header in headerList" ng-style="{backgroundColor:getBackgroundColor({{magic}}, {{header}})}">{{magic[header.name]}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>